@import "../all.sass";

.services-links {
	background-image: url('../../img/curve.png');
	background-size: cover;
	min-height: 500px;
	padding: 100px 0;

	h2 {
		color: #FFFFFF;
		font-size: 35px;
		font-weight: bold;
		margin: 0px 0 100px 0;
	}

	.btn {
		color: #FFFFFF;
		border-radius: 30px;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: bold;
		padding: 5px 15px;
		background-color: $secondary;
		background-image: none;
		border-width:0;
		&:hover {
			background-color: $primary;
			background-image: none;
		}
	}
}