@import "../all.sass";

.services-links {
	background-image: url('../../img/curve.png');
	background-size: cover;
	min-height: 500px;
	padding: 100px 0;

	h2 {
		color: #FFFFFF;
		font-size: 35px;
		font-weight: bold;
		margin: 0px 0 100px 0;
	}

	.btn {
		color: #FFFFFF;
		border-radius: 30px;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: bold;
		padding: 5px 15px;
		background-color: $secondary;
		background-image: none;
		border-width:0;
		&:hover {
			background-color: $primary;
			background-image: none;
		}
	}
}

.homepage {
	h2 {
		font-size: 22px;
		margin-bottom:20px;
	}
	background-color: #20516D;
	.homepageBox {
		min-height: 25vw;
		padding: 40px;
		color: #FFFFFF;
		display: flex;
		flex-direction: column;
		justify-content: center;
		p {
			font-size: 16px;
		}
		a {
			display: block;
			font-size: 12px;
			color: #FFFFFF;
			margin-top: 20px;
		}
	}

	.homepageIntro {
		.homepageBox {
			background-color: #359DD8;
			text-align: center;
		}
	}

	.homepageWebsite {
		.homepageBox {
			background-color: #3F1682;
		}
		.homepageBackground {
			width: 100%;
			height: 100%;
			background-image: url('../../img/boat.svg');
			background-position: center 40%;
			background-size: 80%;
			min-height: 190px;
		}
	}

	.homepageAudience {
		.homepageAudiencePersonal {
			.homepageBox {
				background-color: #20516D;
			}
		}
		.homepageAudienceAudience {
			height: 600px;
			background-image: url('../../img/spaceship.svg');
			background-size: cover;
			.columns {
				align-items: flex-end;
				height: 100%;
			}
			.homepageBox {
				background-color: #B40812;
			}
		}
	}

	.homepageTraining {
		height: 800px;
		background-image: url('../../img/hand.svg');
		background-position: center 40%;
		background-size: cover;
		.columns {
			align-items: flex-end;
			height: 100%;
		}
		.homepageBox {
			background-color: #E68C27;
		}
	}
}