@import "../all.sass";

.AaNewsItem {
    margin-bottom: 30px;
}

.AaNewsItem h3 {
    display:inline;
}

.AaNewsItem .btn {
    border-radius: 30px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 15px;
    background-color: $primary-invert;
    background-image: none;
    border-width:0;
    &:hover {
        background-color: $primary;
        background-image: none;
    }
}