@import "../all.sass";

.aaNewsletter {
    padding: 0;
    margin-bottom: 0;
    p {
        margin: 10px 0 50px 0;
    }
}

.newsletter-container {
    background-color:rgba(0, 0, 0, 0.5);
    height: 100%;
    color: #FFFFFF;
    align-items: center;
    display:flex;
}

.aaNewsletter h1 {
    font-weight: bold;
    font-size: 50px;
}

.aaNewsletter .btn {
    border-radius: 30px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 15px;
    background-color: $primary-invert;
    background-image: none;
    border-width:0;
    &:hover {
        background-color: $primary;
        background-image: none;
    }
}