@import "../all.sass";

footer.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: space-between;
  border-top: 8px solid $primary-invert;
  padding: 20px;
  background-color: #333333;
}

.footerAddress {
  max-width: 50%;
  p{
    color: #ffffff;
    margin-bottom: 15px;
    font-size: 14px;
  }
}

.footerSocial {
  margin-top: 3rem;
  display: flex;
  ul {
    display: flex;
    li {
      margin-right: 20px;
      a {
        color: $secondary;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
}

footer {
  color: #ffffff;
  h2 {
    font-size: 1.2rem;
    margin: 2rem 0;
    color: #ffffff;
    font-weight: bold;
  }
  a {
    color: #ffffff;
    display: block;
    margin-top: 0.5rem;
    &:hover {
      color: #ffffff;
    }
  }
  .btn {
    margin-top: 40px;
    border-radius: 0;
    font-size: 21px;
  }
}