@import "../all.sass";

footer.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: space-between;
  border-top: 8px solid $primary-invert;
  padding: 20px;
  background-color: #333333;
}

.footerAddress {
  max-width: 50%;
  p{
    color: #ffffff;
    margin-bottom: 15px;
    font-size: 14px;
  }
}

.footerSocial {
  display: flex;
  ul {
    display: flex;
    li {
      margin-left: 20px;
      a {
        color: $secondary;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
