.AaCard {
    background-color: #fff;
    box-shadow: none;
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    height: 100%;
    display: flex;

    .card-content{
        display:flex;
        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .btn {
                border-radius: 0;
                font-size: 20px;
                background-image: none;
                border-width:0;
                &:hover {
                    background-image: none;
                }
            }
        }
    }
}