@import "../all.sass";

.contact {
	button {
		border-radius: 0;
		font-size: 21px;
		margin-bottom: 3rem;
	}
	.content {
		max-width: 900px;
	}
}

label.label {
    text-align: left;
    padding: 0;
	padding: 1rem 0;
}

label.radio {
	margin-left: 20px;
}

.input, .textarea {
	border-radius: 0 !important;
}