.TextElement {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
    position: relative;

    .content {
        max-width: 900px;
        display: flex;
        h2 {
            font-size: 2.75em;
        }
        p {
            font-size: 1.2em;
        }
    }
    &.dark {
        background-color: #333333;
        color: #FFFFFF;
        h2, p {
            color: #FFFFFF;
        }
    }

    &.personal {
        .textImage {
            position: absolute;
            right: 0;
            opacity: 0.5;
            align-self: center;
            path {
                fill: red;
            }
        }
        .textText {
            z-index: 100;
            position: relative;
        }
    }
}