.TextElement {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
    position: relative;

    .content {
        max-width: 900px;
        display: flex;
        h2 {
            font-size: 2.75em;
        }
        p {
            font-size: 1.2em;
        }
    }
    &.dark {
        background-color: #333333;
        color: #FFFFFF;
        .columns {
            flex-direction: row-reverse;
        }
        h2, p {
            color: #FFFFFF;
        }
    }

    &.personal {
        .textImage {
            position: absolute;
            right: 0;
            opacity: 0.5;
            align-self: center;
            path {
                fill: red;
            }
        }
        .textText {
            z-index: 100;
            position: relative;
        }
    }

    .textImage {
        p {
            display: inline-block;
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            vertical-align: middle;
            overflow: hidden;
      }
      
      svg {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            animation: floatalso 3s ease-in-out infinite;

            circle:first-child {
                animation: float 6s ease-in-out infinite;
            }
      }
    }
}

@keyframes float {
	0% {
        transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes floatalso {
	0% {
        transform: translatey(0px);
	}
	50% {
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(0px);
	}
}