.TextElement {
    padding-top: 100px;
    padding-bottom: 100px;

    .content {
        max-width: 900px;
        h2 {
            font-size: 2.75em;
        }
        p {
            font-size: 1.2em;
        }
    }
    &.dark {
        background-color: #333333;
        color: #FFFFFF;
        h2, p {
            color: #FFFFFF;
        }
    }
}