@import "../all.sass";

.aaJumbotron {
    padding: 0;
}

.jumbotron-container {
    background-color:rgba(0, 0, 0, 0.5);
    height: 100%;
    color: #FFFFFF;
    align-items: center;
    display:flex;
}

.aaJumbotron h1 {
    font-weight: bold;
    font-size: 50px;
}

.aaJumbotron .btn {
    border-radius: 30px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 15px;
    background-color: $primary-invert;
    background-image: none;
    border-width:0;
    &:hover {
        background-color: $primary;
        background-image: none;
    }
}