.banner {
    height: 300px;
    font-size: 2em;
    color: #ffffff;
    padding: 40px;
    .container {
        height: 100%;
        padding: 0;
        .columns {
            align-items: center;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    .bannerLink {
        text-align: center;
        animation: float 6s ease-in-out infinite;
        button {
            border-radius: 0;
            font-size: 21px;
        }
    }
}

@keyframes float {
	0% {
        transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}