.banner {
    height: 300px;
    font-size: 2em;
    color: #ffffff;
    padding: 40px;
    .container {
        height: 100%;
        padding: 0;
        .columns {
            align-items: center;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    .bannerLink {
        text-align: center;
        button {
            border-radius: 0;
            font-size: 21px;
        }
    }
}